<%
qtools.validateProperties({
	targetObject: this,
	propList: [
		{ name: 'displayParameters' },
		{ name: 'viewHelper' },
		{ name: 'formData' }
	],
	source: 'session.dashboard.lunch_editor'
});

qtools.validateProperties({
	targetObject: displayParameters,
	propList: [{ name: 'myId' }],
	source: 'session.dashboard.lunch_editor'
});

qtools.validateProperties({
	targetObject: formData,
	propList: [{ name: 'student' },{ name: 'loginUser' }],
	source: 'session.dashboard.lunch_editor'
});

//console.dir({ formData: formData });

qtools.validateProperties({
	targetObject: formData,
	propList: [{ name: 'student' }],
	source: 'session.dashboard.lunch_editor'
});

//console.dir({"this.formData":this.formData});

var gradeLevelRefId=this.formData.student.gradeLevel?this.formData.student.gradeLevel.refId:''

var gradeLevelSelectString = this.viewHelper.makeSelectTag({
	selectClassName: 'gradeLevelSelect',
	selectedValue: gradeLevelRefId,
	selectVarName: 'gradeLevelRefId',
	sourceObj: this.formData.loginUser.school.gradeLevels.sort(
		qtools.byObjectProperty('seqNum')
	),
	valuePropertyName: 'refId',
	labelPropertyName: 'title',
	firstItemLabel: 'Select Grade Level',
	firstItemValue: ''
});

var lunchButtonString="<div style='width:60px;font-size:10pt;margin-left:7px;'>inactive</div>";
if (formData.student.isActiveFlag!==false){
	lunchButtonString="<div id='"+displayParameters.lunchButton.divId+"' class='smallButton' style='width:50px;'></div>";
}

%><div class='studentEditor distributeHorz' id='<%= displayParameters.myId.divId %>' style='width:auto;'>
<span id='<%= displayParameters.isActiveButton.divId %>' class='isActiveFlagToggle' title='Click the X to toggle student inactive status or prevent saving new, unsaved students'>&nbsp;x&nbsp;</span><input type='hidden' name='isActiveFlag' value='<%= formData.student.isActiveFlag %>'>
<input name='firstName' class='firstName' value='<%= formData.student.firstName %>'>
<input name='lastName' class='lastName' value='<%= formData.student.lastName %>'>
<%== gradeLevelSelectString %>
<%== lunchButtonString %>
</div>