<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'session.dashboard.dashboardMainX' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'myId'},
		{name:'accountSpace'},
		{name:'kidSpace'},
		{name:'purchaseSpace'}

	],
 source:'session.dashboard.dashboardMainY' });

%><div class='mainContainer' id='<%= displayParameters.myId.divId %>'>


	<div class='smallButton' style='position:absolute;top:14px;right:140px;width:40px;' id='<%=this.displayParameters.adminButton.divId%>'></div>
	<div class='accountSpace' id='<%= displayParameters.accountSpace.divId %>'></div>
	
	<div style='font-size:10pt;position:relative;color:gray;margin:10px 50px;'>Click on the Student's name to change information.</div>
	<div class='kidSpace' id='<%= displayParameters.kidSpace.divId %>'>
	</div>
	<div class='purchaseSpace' id='<%= displayParameters.purchaseSpace.divId %>'></div>

</div>