<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'session.dashboard.dashboardMain' });

qtools.validateProperties({
	targetObject:this.displayParameters,
	propList:[
		{name:'saveButton'},
		{name:'cancelButton'},
		{name:'schoolSelect'},
		{name:'gradeLevelSelect'}
	],
 source:'session.dashboard.dashboardMain' });

qtools.validateProperties({
	targetObject:this.formData,
	propList:[
		{name:'account'},
		{name:'student'},
		{name:'gradeLevel'},
		{name:'school'},
		{name:'schools'}
	],
 source:'session.dashboard.dashboardMain' });

var vegetarianSelected=this.formData.student.vegetarianFlag?'checked':'';
var isTeacherSelected=this.formData.student.isTeacherFlag?'checked':'';
var allergySelected=this.formData.student.allergyFlag?'checked':'';

 var lastName=this.formData.student.lastName?this.formData.student.lastName:this.formData.account.familyName;

var schoolString=this.viewHelper.makeSelectTag({
		divId:this.displayParameters.schoolSelect.divId,
		selectedValue:this.formData.student.schoolRefId,
		selectVarName:'schoolRefId',
		sourceObj:this.formData.schools.sort(qtools.byObjectProperty('name')),
		filterFunction:function(inData){return !inData.suppressDisplay;},
		valuePropertyName:'refId',
		labelPropertyName:'name',
		firstItemLabel:'Select School',
		firstItemValue:'',
		selectClassName:'schoolSelect schoolIdClassString' //schoolIdClassString is for debug purposes only, see register.initDomObjects()

	});

if (this.formData.gradeLevel && this.formData.gradeLevel.refId){

//I don't think this ever gets called. Remove it at the earliest convenience.

var gradeLevelSelectString=this.viewHelper.makeSelectTag({
	selectClassName:'gradeLevelSelect',
	selectedValue:this.formData.gradeLevel.refId,
	selectVarName:'gradeLevelRefId',
	sourceObj:this.formData.school.gradeLevels.sort(qtools.byObjectProperty('seqNum')),
	valuePropertyName:'refId',
	labelPropertyName:'title',
	firstItemLabel:'Select Grade Level',
	firstItemValue:''
});
}
else{
	gradeLevelSelectString="<span style='padding-right:125px;'>&nbsp;</span>";
}
%>

<div style='font-size:8pt;height:20px;text-align:left;'>
<div>
	<input type='hidden' name='accountRefId' value='<%=this.formData.account.refId%>'>
	<input type='hidden' name='refId' value='<%=this.formData.student.refId%>'>
	<input prompt='First Name' name='firstName' style='font-size:8pt;width:60px;' value='<%=this.formData.student.firstName%>'>
	<input prompt='Last Name' name='lastName' style='font-size:8pt;width:60px;' value='<%=lastName%>'>
	<span style='padding-right:35px;'>&nbsp;</span>
	<%==schoolString%>
	<span id='<%=this.displayParameters.gradeLevelSelect.divId%>'><%==gradeLevelSelectString%></span>
	<span class='smallButton' style='margin-left:20px;' id='<%=this.displayParameters.saveButton.divId%>'></span>
	<span title='Cancel' class='smallButton' style='margin-left:10px;' id='<%=this.displayParameters.cancelButton.divId%>'></span>
</div>
<div style='text-align:right;padding-right:80px;padding-top:5px;'>
	
	 Allergy issues? Check here and we will follow up via email. <input type='checkbox' name='allergyFlag' value='1' <%=allergySelected%>>
	| Vegetarian? <input type='checkbox' name='vegetarianFlag' value='1' <%=vegetarianSelected%>> | Teacher? <input type='checkbox' name='isTeacherFlag' value='1' <%=vegetarianSelected%>><br/>

</div>

</div>