<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'}
	],
 source:'session.register.mainPanel' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'saveButton'},
		{name:'loginButton'},
		{name:'status'}
	],
 source:'session.register.mainPanel' });

if (window.location.host=='goodearth.local'){
	var firstName='tq',
		lastName='white',
		userName='tqwhite'+Math.floor((Math.random()*1000)+1),
		password='123456',
		emailAdr='tq@justkidding.com',
		confirmEmail='tq@justkidding.com',
		phoneNumber='999-999-9999';
}
else{
	var firstName='',
		lastName='',
		userName='',
		password='',
		emailAdr='',
		confirmEmail='',
		phoneNumber='';
}

%>
<div class='entryBox' style='height:475px;width:300px;'>

<div class='entryPanelErrorList' style='margin-top:25px;height:30px;width:100%' id='<%==displayParameters.status.divId%>'>
	<div style='font-size:10pt;width:285px'>
<b>Welcome!</b>
	An account covers all the children in a family. Parents must share this account. Credit card numbers
	are not stored. Lunches are purchased by the day and can be paid for with separate credit cards. Receipts are
	emailed to the  address entered below.
	</div>
</div>

<table style='border:none;font-size:10pt;margin-top:105px;'>
	<tr><td style='width:100px;'>Parent First Name:</td><td><input prompt='required' name='firstName' value='<%=firstName%>'></td></tr>
	<tr><td style='width:100px;'>Parent Last Name:</td><td><input prompt='required' name='lastName' value='<%=lastName%>'></td></tr>
	<tr><td style='width:100px;'>User Name:</td><td><input prompt='required' name='userName' value='<%=userName%>'></td></tr>
	<tr><td>Password:</td><td><input type='password' prompt='6+ characters' name='password' value='<%=password%>'></td></tr>
	<tr><td>Email Address:</td><td><input prompt='required' name='emailAdr' value='<%=emailAdr%>'></td></tr>
	<tr><td>Confirm Email:</td><td><input prompt='required' name='confirmEmail' value='<%=confirmEmail%>'></td></tr>
	<tr><td>Phone:</td><td><input name='phoneNumber'  value='<%=phoneNumber%>' prompt='000-000-0000'></td></tr>
</table>
<div class='basicButton' style='margin-left:136px;margin-top:20px;' id='<%==displayParameters.saveButton.divId%>'></div>

<div class='smallButton' style='margin-left:165px;margin-top:20px;' id='<%==displayParameters.loginButton.divId%>'></div>
</div>