<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'session.dashboard.dashboardMainX' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'myId'},
		{name:'accountSpace'},
		{name:'studentList'},
		{name:'purchaseSpace'}

	],
 source:'session.dashboard.dashboardMainY' });

%><div class='mainContainer schoolAdminDashboard' id='<%= displayParameters.myId.divId %>' style='width:auto;'>


	<div class='accountSpace' id='<%= displayParameters.accountSpace.divId %>' style='width:auto;'></div>
	
	<div class='infoRow distributeHoriz' style=''>
	
	<div class='smallButton' id='<%=this.displayParameters.saveButton.divId%>'></div>
	<div class='smallButton' style='width:150px;' id='<%=this.displayParameters.showInactiveButton.divId%>'></div>
	
		<div class='status' style='padding:2px 20px;' id='<%= displayParameters.status.divId %>'></div>
		
	<div class='smallButton' id='<%=this.displayParameters.checkoutButton.divId%>'></div>
	</div>
	
	<div class='schoolAdminActionRow'>
	
		<div id='<%= displayParameters.studentList.divId %>'>studentList</div>
	
		<div class='editColumn'>
			<div class='lunchEditor' id='<%= displayParameters.lunchEditor.divId %>'><div class='lunchesNotification'>Welcome to Good Earth</div></div>
		
		</div>
	
	</div>
	</div>
	

</div>