<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'subjectUser', optional:true},
		{name:'adminFlag'}
	],
 source:'session.userEditor.mainPanel' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'saveButton'}
	],
 source:'session.userEditor.mainPanel' });

if (!this.subjectUser && window.location.host=='store.goodearth.local' || window.location.hash=='#tq'){
	var firstName='tq',
		lastName='white',
		userName='tqwhite'+Math.floor((Math.random()*1000)+1),
		password='123123',
		emailAdr='tq@justkidding.com',
		confirmEmail='tq@justkidding.com',
		phoneNumber='999-999-9999',
		street='5004 Three Points Blvd',
		city='Mound',
		state='MN',
		zip='55364',
		refId=qtools.newGuid();
}
else if (this.subjectUser && this.subjectUser.refId){
var 
 		firstName=this.subjectUser.firstName,
 		lastName=this.subjectUser.lastName,
 		userName=this.subjectUser.userName,
 		password=this.subjectUser.password,
 		emailAdr=this.subjectUser.emailAdr,
 		confirmEmail=this.subjectUser.confirmEmail,
 		phoneNumber=this.subjectUser.phoneNumber,
 		street=this.subjectUser.street,
 		city=this.subjectUser.city,
 		state=this.subjectUser.state,
 		zip=this.subjectUser.zip,
 		refId=this.subjectUser.refId;
}
else{
	var firstName='',
		lastName='',
		userName='',
		password='',
		emailAdr='',
		confirmEmail='',
		phoneNumber='',
		street='',
		city='',
		state='',
		zip='',
		refId=qtools.newGuid();
}


if (this.adminFlag){
	var checkString='';
	var emailOverrideCheckbox="Suppress Confirmation Email <input type='checkbox' name='emailOverride' "+checkString+">";
	
	var passwordTypeString='text';
}
else{
	var emailOverrideCheckbox="";
	var passwordTypeString='password';
}
if (this.subjectUser && this.subjectUser.emailAdr){
var previousEmailAddress="<input type='hidden' name='previousEmailAddress' value='"+this.subjectUser.emailAdr+"'>";
}
else{

var previousEmailAddress="<input type='hidden' name='previousEmailAddress' value=''>";
}

%>

<%== previousEmailAddress %>

<table style='border:none;font-size:10pt;border:1pt solid gray;font-size:60%;'>

	<tr>
		<td style='width:70px;'>Login Name:</td>
			<td><input prompt='required' name='userName' value='<%=userName%>'></td>
		<td style='width:10px;'>&nbsp;</td>
		<td style='width:70px;'>Password:</td>
			<td><input type='<%== passwordTypeString %>' name='password' value='<%=password%>'></td>
	</tr>



	<tr><td>Email Address:</td><td><input prompt='required' name='emailAdr' value='<%=emailAdr%>'></td>
		<td>&nbsp;</td>
		<td>Confirm Email:</td><td><input prompt='required' name='confirmEmail' value='<%=emailAdr%>'></td>
	</tr>

<tr><td style='height:15px;' colspan='5'>&nbsp;</td></tr>

	<tr  style='height:25px;'>
		<td>Parent First:</td>
			<td><input prompt='required' name='firstName' value='<%=firstName%>'></td>
		<td>&nbsp;</td>
		<td>Last Name:</td>
			<td><input prompt='required' name='lastName' value='<%=lastName%>'></td>
	</tr>

	<tr  style='height:25px;'>
		<td>Street:</td><td colspan='4'><input style='width:395px;' prompt='required' name='street' value='<%=street%>'></td></tr>


	<tr  style='height:25px;'>
		<td>City, ST zip</td>
			<td colspan='4'>
				<input prompt='required' style='width:170px;' name='city' value='<%=city%>'> <span style='font-size:200%;color:gray;'>,</span>
				<input style='width:35px;' prompt='CA' name='state' value='<%=state%>'>
				<input style='width:75px;' prompt='00000' name='zip' value='<%=zip%>'>

			</td>
	</tr>



	<tr  style='height:25px;'>
		<td>Phone:</td><td><input name='phoneNumber'  value='<%=phoneNumber%>' prompt='000-000-0000'></td>
		<td><input type='hidden' name='refId'  value='<%=refId%>'></td><td colspan='4'><%== emailOverrideCheckbox %></td></tr>
</table>



<div class='basicButton' style='margin-right:100px;margin-top:20px;float:right;' id='<%==displayParameters.saveButton.divId%>'></div>
